* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-image: url(/img/main.jpg);
    -ms-overflow-style: none;
    font-family: 'Gowun Dodum', '돋움';
}

::-webkit-scrollbar {
    display: none;
}

a {
    all: unset;
}

a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
    color: black;
}

.inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

header {
    background-color: rgb(13, 13, 127);
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.head-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-container .head-brand {
    font-weight: bold;
    font-size: 1.6rem;
    color: whitesmoke;
    white-space: nowrap;
}

.head-bymh {
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.head-brand a {
    color: black;
}

.head-container .head-logo {
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
    text-align: center;
    width: 25%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0 1rem 0.1rem 1rem;
    box-shadow: 10px 10px 12px -5px rgba(25, 42, 70, 0.2);
}

.head-container .head-brand a:hover {
    cursor: pointer;
    color: #2ab1ff;
}

section {
    width: 100%;
    background-color: #fff;
    position: relative;
}

.main {
    height: 360px;
    opacity: 0.9;
    background-size: cover;
    background-position: 0 30%;
    background-repeat: no-repeat;
    margin-top: 60px;
}

.main-container {
    width: 100%;
    height: 100%;
    background-color: rgb(67, 102, 135);
    opacity: 0.8;
    z-index: 2;
}

.title-container {
    padding: 100px 0;
}

.p:hover {
    display: inline;
    color: gold;
}

.title-container .title {
    margin-bottom: 0px;
    transition: color 0.3s ease-in-out;
}

.title-container .message {
    margin-bottom: 0px;
    transition: color 0.3s ease-in-out;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0.8rem;
}

.message {
    font-size: 2rem;
    color: #fff;
}

section {
    background-color: transparent;
}

.skill-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
    background-color: transparent;
}

.skill {
    width: 400px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 10px;
    padding: 1.5rem 2rem;
    margin: 0 1rem 0.5rem 1rem;
    box-shadow: 7px 7px 10px -5px black;
}

.skill-name {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
    text-align: center;
}

.skill-name2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
    width: 700px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: lightgray;
    opacity: 0.5;
    margin-top: 165px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

@media screen and (min-width: 1100px) {
    .inner {
        max-width: 1100px;
    }
}

@media screen and (max-width: 500px) {
    .skill-container,
    .title,
    .head-container .head-logo {
        display: none;
    }
    .head-brand {
        margin-right: 50px;
    }
}
